.container{
    margin-bottom: 0px;
}
.nav-menu a{
    color:grey;
}
.nav-menu a:hover{
    color:darkturquoise;
    background-color: dimgrey;
    border-radius: 5px;
}
.buy-now-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding:9px 20px;
    cursor: pointer;
    border:none;
}
.carousel-item{
    padding: 20px 40px;
}
.carousel-indicators li{
    background-color:rgb(15, 2, 2);
}