.container{
    margin-bottom: 50px;
}
.nav-menu a{
    color:grey;
}
.nav-menu a:hover{
    color:darkturquoise;
    background-color: dimgrey;
    border-radius: 5px;
}
.buy-now-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding:9px 20px;
    cursor: pointer;
    border:none;
}
.carousel-item{
    padding: 20px 2px;
}
.carousel-indicators li{
    background-color:rgb(15, 2, 2);
}
.card{
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 10px 10px;
    text-align: center;
}
.card img{
    width:200px;
    padding-top: 10px;
}
.card h3,h5{
    font-weight: 700;
}
.card p{color:grey;}
.card-footer{
    border-top:none;
    background-color: white;
}
.see-all{
    color: orange;
}
.phone{
    margin-bottom: 20px;
}
.category{
    height: 300px;
}
.category img{
    width: 100%;
}
.ct-h1{
    text-align: center;
}
.bag{
    margin-right:20px;
    text-align: center;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
}
.shoes{
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 20px;
    margin-left: 0px;
}
.bty{
    text-align: center;
    font-weight: 500;
}
footer{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}